.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingLgInline {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 10px 10px 10px 0px;
  display: inline-block;
  vertical-align: top;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.blogHeader {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  text-align: center;
}

.alignCenter {
  text-align: center;
}

.borderCircle {
  border-radius: 9999px;
}

.navImage {
  border-radius: 9999px;
  float: right;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  display: inline-block;
  width: 48%;
  height: 280px;
  vertical-align: top;
}

@media (max-width: 768px) {
  .listItem {
    width: 100%;
    height: auto;
    margin-bottom:20px;
  }
}

.lightText {
  color: #666;
  text-align: right;
}
